language: rust
os:
  - linux
  - windows

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then make install; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then choco install make; make install; fi

script:
  - make debug
  - make release
